<% 
 const navItems = [
    {
      path : "/",
      title : "Home",
      icon : "fa-home"
    },
    {
      path : "/services",
      title : "Services",
      icon : "fa-handshake"
    },
    {
      path : "/projects",
      title : "Projects",
      icon : "fa-briefcase"
    },
    {
      path : "/about",
      title : "About Me",
      icon : "fa-info-circle"
    },
    {
      path : "/contact",
      title : "Contact Me",
      icon : "fa-envelope"
    }
]; 

const activityClass = (path1,path2) => {
  if (path1 === path2) {return "active";} else { return "";}; 
}

const href = (path1,path2) => {
  if (path1 === path2) {return "#";} else { return path2;}; 
}

%>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><%= brandName %> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <% navItems.forEach(n => { %> 
                <li class="nav-item">
                  <a class="nav-link <%- activityClass(request.path, n.path) %>" aria-current="page" href="<%- href(request.path, n.path) %>">
                    <i class="fas fa-lg <%- n.icon %>"></i>
                    <%- n.title %>
                  </a>
                </li>
              <% }); %>
        </ul>
      </div>
    </div>
</nav>